.bookmarks--row {
  grid-template-rows: 50px;
  grid-template-columns: 33% 33% 33%;
  display: grid;
  margin-right: 20px;
  border-bottom: 1px dotted #000;
  column-gap: 10px;
}

.bookmarks--btn {
  width: 35%;
  max-width: 200px;
  border: 0;
  height: 35px;
  cursor: pointer;
  border-radius: 25px;
  margin: auto;
  background-color: #ff0000;
  margin: auto;
  color: #fff;
  margin-top: 0;
}
.bookmarks--box {
  overflow-wrap: break-word;
}

@media only screen and (max-width: 900px) {
  .bookmarks--row {
    grid-template-rows: 65px;

  }
}
@media only screen and (max-width: 500px) {
  .bookmarks--row {
    grid-template-rows: 90px;
    grid-template-columns: 33% 32% 35%;
  }
}
