.bookmarksForm{

}

.bookmarksForm--label{
  display: none;
}
.bookmarksForm--input {
  width: 85%;
  height: 24px;
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 11px;
  border: 1px solid #000;
}
.bookmarksForm--input:focus-visible {
  outline :none;

}
.bookmarksForm--submit{
  width: 35%;
  border: none;
  border-radius: 30px;
  height: 35px;
  display: flex;
  margin: auto;
  cursor: pointer;
  background-color: #5851ff;
  color: white;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  max-width: 200px;
}
.bookmarksForm--card {
  background-color: #F8F0E3;
  margin: auto;
  text-align: center;
  border-radius: 35px;
  padding: 25px 4px;
  box-shadow: 6px 8px 19px 2px rgb(0 0 0 / 58%);
  margin-left: 1rem;
}
@media only screen and (max-width: 900px) {
  .bookmarksForm--card {
    max-width: 320px;
    margin-top: 20px;
    margin: 20px auto;
  }
}


